{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'public/img/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'public/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'public/css/bootstrap-utilities.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'public/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/main.css' %}">
    <script>
        const urls = {
        }
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SMKJZECY93"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SMKJZECY93');
</script>
</head>
<body class="bg-light">
{% include 'public/pieces/header.html' %}
<main class="text-center">
    <div class="container">
        <h2>Реєстрація</h2>
    <form action="." method="post" autocomplete="off" class="form-custom">
        {% csrf_token %}

        <div class="input-group mb-3">
            <input placeholder="Нікнейм" class="form-control" type="text" name="username" maxlength="150" autofocus="" required="" id="id_username">
        </div>

        <div class="input-group mb-3">
            <input placeholder="Ім'я" class="form-control" type="text" name="first_name" maxlength="30" id="id_first_name">
        </div>

        <div class="input-group mb-3">
            <input placeholder="Прізвище" class="form-control" type="text" name="last_name" maxlength="30" id="id_last_name">
        </div>

        <div class="input-group mb-3">
            <input placeholder="Електронна пошта" class="form-control" type="email" name="email" maxlength="254" required="" id="id_email">
        </div>

        <div class="input-group mb-3">
            <input placeholder="Пароль" class="form-control" type="password" name="password1" autocomplete="new-password" required="" id="id_password1">
        </div>

        <div class="input-group mb-3">
            <input placeholder="Підтвердження паролю" class="form-control" type="password" name="password2" autocomplete="new-password" required="" id="id_password2">
        </div>

        <button class="w-100 btn-lg btn btn-primary" type="submit">Зареєструватися</button>
    </form>
    </div>
</main>
<script src="{% static 'public/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'public/js/jquery.sticky.js' %}"></script>
<script src="{% static 'public/js/header.js' %}"></script>
</body>
</html>